body,
html {
  height:100%;

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* layout */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 75vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* removes horizontal scroll */
}

#app {
  display: flex;
  flex-direction: column;
  height: 20%;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: orange;
}

header h1 {
  font-size: 20px;
  font-weight: bold;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  margin-left: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* main/store items */
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.store-item {
  background-color: orange;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.store-item img {
  width: 100%;
  height: auto;
  max-height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.store-item p {
  margin: 10px 0;
  font-size: 14px;
}

.store-item span {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.store-item span:nth-child(3) {
  margin-left: auto;
}

/* footer */
footer {
  padding: 10px;
  text-align: center;
  background-color: orange;
  font-size: 14px;
}
